[Unit]
Description=Tutoring App
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/opt/tutoringapp/releases
Environment=SPRING_PROFILES_ACTIVE=prod
ExecStart=/usr/bin/java -jar /opt/tutoringapp/releases/SFSUTutoring-1.0.0.jar
SuccessExitStatus=143
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
