# --- Editors/IDE ---
.vscode/git

# IntelliJ IDEA
.idea

# --- Java / Maven / Build Artifacts ---
*.class
*.jar
*.war
target/

# --- Keys ---
credentials/
*.pem

# --- Spring Boot ---
application/backend/src/main/resources/application-local.properties

# --- Logs ---
logs/
*.log

# --- Node / Sass caches (for Dart Sass via npx) ---
node_modules/
.sass-cache/
dist/

# --- Database dumps (but keep Flyway migrations) ---
*.sql
dump*.sql

# ===== FRONTEND IGNORE RULES =====

# dependencies
application/frontend/node_modules
application/frontend/.pnp

# testing
application/frontend/coverage

# production
application/frontend/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*