// Buttons
.btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: $border-accent-gold;
  color: $color-text-main;
}

.btn-secondary {
  background-color: transparent;
  color: $color-text-main;
  border: 1px solid $border-gray;
}

.btn-light {
  background-color: transparent;
  color: $color-text-main;
  border: none;
  padding: 0;
  text-decoration: underline;
  font-weight: 600;
}

// Hovers
.btn-primary:hover {
  background-color: darken($border-accent-gold, 12%);
}

.btn-secondary:hover {
  background-color: lighten($border-gray, 32%);
  border-color: darken($border-gray, 10%);
}

.btn-light:hover {
  color: darken($color-text-main, 18%);
  text-decoration: none;
}

body.dark-mode {
  .btn-secondary {
    color: $color-text-on-dark;
    border-color: $subtitle-text-gray;
  }

  .btn-light {
    color: $yub-gold;
  }

  // Hovers
  .btn-primary:hover {
    background-color: lighten($border-accent-gold, 14%);
  }

  .btn-secondary:hover {
    background-color: lighten(#2b2b2b, 8%);
    border-color: lighten($subtitle-text-gray, 15%);
  }

  .btn-light:hover {
    color: lighten($yub-gold, 12%);
    text-decoration: none;
  }
}