/* Some Standard Colors around the pages
	add more if needed to suit your needs
	if not repeated anywhere else use # instead of $*/
$color-text-main: #090909;
$color-text-on-dark: whitesmoke;
$color-surface-white: #fdfdfd;
$color-surface-dark: #2c2c2c;

$page-bg-light: #f5f5f5;
$page-bg-dark: #242424;

$yub-gold: #ffdc72;
$yub-hover: #7f6d2c;

$border-gray: #ccc;
$subtitle-text-gray: #666666;
$card-text-gray: #c8c8c8;
$card-text-muted-gray: #969696;
$gray-text-home: gray;	// same one as before 
$border-dark: #444444;
$forms-bg-dark: #3a3a3a;
$hover-dark: #444444;
$gray-input-bg-dark: #b5b5b5;

$home-img-bg: #d3d3d3;

$gray-border-stronger: #999999;

$border-accent-gold: #ffcc00;