@use "./colors";

// Search Results Page Styles
.search-results-page {
  margin: 0 auto;
  gap: 16px;
  max-width: 1250px;
}

.results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid colors.$border-gray;
  padding: 6px;
}

.results-header-left {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.results-header-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sort-dropdown {
  border: 1.5px solid colors.$border-accent-gold;
  background-color: colors.$color-surface-white;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
}

.results-title-block {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.results-title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.results-subtitle {
  margin-top: 25px;
  margin-left: 5px;
  font-size: 1rem;
}


.results-grid {
    display: grid;
    // Change it to auto if 4 is too small
    grid-template-columns: repeat(4, minmax(260px, 1fr));
    column-gap: 24px;
    row-gap: 48px;
    max-width: 1400px;
    margin: 0 auto;
    padding:24px;
    align-items: start;
    box-sizing: border-box;
}



// Dark Mode
body.dark-mode {
  
}